/CMakeFiles/
/bin/
/external/*.cmake
/external/Makefile
/external/CMakeFiles/
/lib/
/src/CMakeFiles/
/src/*.cmake
/src/*.a
/src/Makefile
/src/indexer/index/
/test/CMakeFiles/
/test/*.cmake
/test/Makefile
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/cmake_install.cmake
/build/